body{
	background-color: black;
}

a{
	text-decoration: none;
	color: white;
}

.box {
	background-color: rgb(144, 209, 170);
	width: 300px;
	color: black;
	border-radius: 5px;
	margin: 2px;
	padding: 10px;
}

.box:hover{
	box-shadow: 10px 10px 10px 10px lightblue;
	background-color: rgb(223, 216, 4);
	color: black;
}

ul a{
	color: black;
	width: 90%;
}
.done, .done a{
	background-color: rgb(11, 61, 32);
	color:aliceblue;
	border-radius: 5px;
	margin: 2px;
}
.ongoing, .ongoing a{
	background-color: rgb(255, 247, 10);
	color:rgb(0, 0, 0);
	border-radius: 5px;
	margin: 2px;
}

h1{
	margin-top: 0;
	color: greenyellow;
	text-align: center;
}

.meta_ios_developer_professional_certificate, .advanced_python_scripting_for_cybersecurity_specialization, .deep_learning, .introduction_to_scrum_master_profession, .meta_android_developer_professional_certificate, .ibm_cybersecurity_analyst_professional_certificate, .meta_database_engineer_professional_certificate, .meta_frontend_developer_professional_certificate, .meta_backend_developer_professional_certificate, .natural_language_processing_specialization, .google_it_automation_with_python_professional_certificate, .ibm_devops_and_software_engineering_professional_certificate {
list-style: none;
}

.flex-container{
	display: flex;
	text-decoration: none;
	justify-content: center;
	flex-wrap: wrap;
}

.toggle_courses{
	padding: 10px;
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid #c2ccd3;
	background-color: transparent;
	height: 30px;
	width: auto;
	color: #7094ac;
	font-size: 1.5em;
}

.toggle_courses_clicked, .toggle_courses:hover{
	color: black;
	background-color: yellow;
}

.spec_link{
	padding: 10px;
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid #c2ccd3;
	background-color: transparent;
	height: 30px;
	width: auto;
	color: #7094ac;
	font-size: 1.5em;
}

.spec_link:hover{
	color: black;
	background-color: yellow;
}

.courses_list_display_none{
	display: none;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  body{

  font-size: .9em;

  }

  .box{
	width: 160px;
  }

  h1{
  font-size: 1.3em;
  text-align: center;
  }
 .spec_link{
padding:5px;
height: auto;
  font-size: .8em;
 } 
}